<?xml version="1.0" encoding="utf-8"?>
<config>
    <!-- 是否支持虚拟视频切片 -->
    <virtual_clips>true</virtual_clips>
    <!-- 片头时广告，可选项-->
    <start_ad>
        <!-- 
            片头广告的URL，支持的格式：
            静态图片(jpg,gif,jpeg,png)
            动态图片(gif)
            视频格式(flv,f4v,mp4,m4v,m4a,mov,3gp)
        -->
        <url>https://lite3-resouce.googlecode.com/svn/trunk/assets/image/duck.jpg</url>
        <!-- 广告显示的时间 -->
        <time>3</time>
    </start_ad>
    <!-- 暂停时广告，格式同片头时广告 -->
    <mid_ad></mid_ad>
    <!-- 片尾时广告，格式同片头时广告 -->
    <end_ad />
    <!-- 上一个视频配置文件地址，可选项 -->
    <prev_mv></prev_mv>
    <!-- 下一个视频配置文件地址，可选项 -->
    <next_mv>config2.xml</next_mv>
    <!-- 分段视频地址 -->
    <mv>
        <item>https://lite3-resouce.googlecode.com/svn/trunk/assets/video/bianxingjingang2/bianxingjingang2_000.m4v</item>
        <item>https://lite3-resouce.googlecode.com/svn/trunk/assets/video/bianxingjingang2/bianxingjingang2_001.m4v</item>
        <item>https://lite3-resouce.googlecode.com/svn/trunk/assets/video/bianxingjingang2/bianxingjingang2_002.m4v</item>
        <item>https://lite3-resouce.googlecode.com/svn/trunk/assets/video/bianxingjingang2/bianxingjingang2_003.m4v</item>
        <item>https://lite3-resouce.googlecode.com/svn/trunk/assets/video/bianxingjingang2/bianxingjingang2_004.m4v</item>
        <item>https://lite3-resouce.googlecode.com/svn/trunk/assets/video/bianxingjingang2/bianxingjingang2_005.m4v</item>
		<item>https://lite3-resouce.googlecode.com/svn/trunk/assets/video/bianxingjingang2/bianxingjingang2_006.m4v</item>
		<item>https://lite3-resouce.googlecode.com/svn/trunk/assets/video/bianxingjingang2/bianxingjingang2_007.m4v</item>
    </mv>
</config>
